body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 1.6;
}

App {
  background-color: #000000;
}

.App-header {
  display: flex;
  align-items: center;
  color: rgb(0, 0, );
  background-color: #7a530aa6;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Fixed height for the navbar */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(7, 3, 3);
}

.navbar-logo-img {
  height: 70px; /* Adjust this value to make the logo bigger */
  margin-right: 10px;
}

.navbar-logo-text {
  margin: 0;
  font-size: 2rem; /* Adjust this value to change the text size */
  color: white;
}

.navbar-links {
  display: flex;
  justify-content: space-between; /* Ensure equal spacing between links */
  flex-grow: 1;
  margin-left: 20px; /* Add space between the logo and the links */
}

.navbar-button {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  margin: 0 10px; /* Ensure equal spacing around each button */
  background-color: #007bff;
  border-radius: 5px;
}

.navbar-button:hover {
  background-color: #0056b3;
}

.content {
  padding-top: 100px; /* Add padding to the top to make space for the navbar */
}


.backdrop {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height for demonstration */
  border: 1px solid black; /* Optional, for visual reference */
}

.flex-item {
  text-align: center; /* Center text horizontally within the flex item */
}